<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true"
>
    <testsuites>
        <testsuite name="1Password Connect SDK PHP Unit Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <crap4j outputFile="build/logs/crap4j.xml" threshold="50"/>
            <html outputDirectory="build/coverage/coverage-html" lowUpperBound="50" highLowerBound="90"/>
            <xml outputDirectory="build/coverage/coverage-xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
    </logging>
</phpunit>
